@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-map {
  background-color: black;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}
